<div class="page container">
  <div class="row">
    <div class="col-sm-6 offset-sm-2">
      <div class="card">
        <div class="card-header">
          <h1>About this Demo</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <p>This site demonstrates how a simple application or website can leverage the ESEPN API library to pull JRSM and JRF data into your application.</p>
              <p>To view the code running this site, view this <a href="https://github.com/standardco/espen-api-demo">github repo</a>
              <p>To view the ESPEN API Libraries, go here <a href="https://admin.espen.afro.who.int/docs/api">https://admin.espen.afro.who.int/docs/api</a></p>
              <p>(<strong>note:</strong> to utilize the ESPEN API Libraries, you will need to request an API token)</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <h1>ESPEN API Demo</h1>
        </div>
        <div class="card-body" style="text-align:center;">
          <div class="row">
            <div class="col-sm-12">
              <p><%= link_to "JRSM Search", jrsm_search_path, class: "btn btn-primary"%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>- OR -</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p><%= link_to "JRF Search", jrf_search_path, class: "btn btn-primary" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
