<div class="page container">
  <div class="row">
    <div class="col-sm-6 offset-sm-2">
      <div class="card">
        <div class="card-header">
          <h1>ESPEN API Demo</h1>
        </div>
        <div class="card-body" style="text-align:center;">
          <div class="row">
            <div class="col-sm-12">
              <p><%= link_to "JRSM Search", jrsm_search_path, class: "btn btn-primary"%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>- OR -</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p><%= link_to "JRF Search", jrf_search_path, class: "btn btn-primary" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
